:root{
    --primary-color:#FF6464;
    --secondary-color:#00A8CC;
    --dark:#21243D;
    --light:#8695A4;
    --aliceblue:#EDF7FA;
    --black:#000000;
    --fs-44:44px;
    --fs-32:32px;
    --fs-26:26px;
    --fs-22:22px;
    --fs-20:20px;
    --fs-18:18px;
    --fs-16:16px;
    --fs-14:14px;
    --section-padding:40px 0;
}
body{
    font-family: "Heebo", serif;
}