*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#FF6464;
    --secondary-color:#00A8CC;
    --dark:#21243D;
    --light:#8695A4;
    --aliceblue:#EDF7FA;
    --black:#000000;
    --white:#ffffff;
    --fs-44px : 44px;
    --fs-33px : 33px;
    --fs-32px : 32px;
    --fs-26px : 26px;
    --fs-22px : 22px;
    --fs-20px : 20px;
    --fs-18px : 18px;
    --fs-16px : 16px;
    --fs-14px : 14px;
    --section-padding : 40px 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: "Heebo", serif;
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input,
button,
textarea{
    font: inherit;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
h1{
    font-size: clamp(var(--fs-32px),5vw,var(--fs-44px));
    font-weight: 700;
    color: var(--dark);
}
/* Utility Classes */
h2.title{
    font-size: clamp(var(--fs-24px),5vw,var(--fs-30px));
    font-weight: 700;
    color: var(--dark);
}
h3.title{
    font-size: clamp(var(--fs-22px),5vw,var(--fs-26px));
    font-weight: 700;
    color: var(--dark);
}
p.special-description{
    font-size: clamp(var(--fs-22px),5vw,var(--fs-26px));
    font-weight: 700;
    color: var(--dark);
}
p.description{
    margin-top: 25px;
    font-size: var(--fs-16px);
    font-weight: 400;
    color: var(--dark);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.link-btn{
    display: inline-block;
    margin-top: 25px;
    padding: 9px 18px;
    font-size: var(--fs-20px);
    font-weight: 500;
    border:1px dashed var(--black);
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.25);
}
section{
    padding: var(--section-padding) 0;
}
section.hero .container{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 60px 140px;
    min-height: 80vh;
}
@media (max-width: 991px) {
    section.hero .container article.col{
        text-align: center;
    }
}
@media (min-width: 992px) {
    section.hero .container{
        flex-direction: row;
        justify-content: space-between;
    }
    section.hero .container article.col{
        flex-basis: 60%;
    }
}