*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#FF6464;
    --secondary-color:#00A8CC;
    --dark:#21243D;
    --light:#8695A4;
    --aliceblue:#EDF7FA;
    --black:#000000;
    --white:#ffffff;
    --fs-44px : 44px;
    --fs-33px : 33px;
    --fs-32px : 32px;
    --fs-26px : 26px;
    --fs-22px : 22px;
    --fs-20px : 20px;
    --fs-18px : 18px;
    --fs-16px : 16px;
    --fs-14px : 14px;
    --section-padding : 40px 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: "Heebo", serif;
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo a{
    display: inline-block;
    font-size: var(--fs-32px);
    font-weight: 700;
    color: var(--dark);
}
header .container nav ul li a{
    display: block;
    font-size: var(--fs-18px);
    font-weight: 600;
}
@media (max-width:991px) {
    header .container nav input{
        display: none;
    }
    header .container nav ul{
        position: fixed;
        top: 100px;
        right: -100%;
        max-width: 200px;
        width: 50%;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        background-color: var(--dark);
        transition: all 200ms ease;
    }
    header .container nav ul li a{
        margin: 10px 0;
        color: var(--white);
    }
    header .container nav input:checked ~ ul{
        right: 20px;
    }
}
@media (min-width:992px) {
    header .container nav input,
    header .container nav label{
        display: none;
    }
    header .container nav ul{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    header .container nav ul li a{
        color: var(--dark);
    }
}